web/Soap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by mostafa sajadi (ms) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://new.webservice.namespace" targetNamespace="http://new.webservice.namespace">
	<wsdl:types>
		<xs:schema targetNamespace="http://new.webservice.namespace" elementFormDefault="qualified">
			<xs:element name="FindNameByIdResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FindNameByIdRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="FindNameByIdRequest">
		<wsdl:part name="parameter" element="tns:FindNameByIdRequest"/>
	</wsdl:message>
	<wsdl:message name="FindNameByIdResponse">
		<wsdl:part name="parameter" element="tns:FindNameByIdResponse"/>
	</wsdl:message>
	<wsdl:portType name="NewPortType">
		<wsdl:operation name="FindNameById">
			<wsdl:input message="tns:FindNameByIdRequest"/>
			<wsdl:output message="tns:FindNameByIdResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NewBinding" type="tns:NewPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="FindNameById">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NewService">
		<wsdl:port name="NewPort" binding="tns:NewBinding">
			<soap:address location="http://localhost/SoapServiceTest/web/app_dev.php/soap?wsdl"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
